html
   head
      title Simple template
   body
   form(action='/login_ok', method='post')
      p
         input(type='text', name='username', placeholder='username')
      p
         input(type='password', name='password', placeholder='password')
      p
         input(type='submit')
a(href='http://www.google.com') google

